<head>
    <title>{{site.title}}</title>
    <style type="text/css" media="screen">
    .container {
        margin: 10px auto;
        max-width: 600px;
        text-align: center;
    }
    h1 {
        margin: 30px 0;
        line-height: 1;
        letter-spacing: -1px;
    }

    blockquote {
        border: 1px solid grey;
        border-radius: 2px;
        background-color: rgba(55,55,55,.25);
        padding: 0.5em;
        line-height: 0;
    }

    red {
        color: red;
    }
    </style>
</head>